.jw-debug{
    border: 1px solid green;
}
/* Rectangle 1 */
.odd{
    background-color: #1ABC9C;
}
header,
.footer-bottom{
    background-color: #2C3E50;
}
#portfolio .fa-star{
    color: #2C3E50;
}
.card:hover:after{
    content: "";
}
#portfolio-nav a.nav-link{
    color: white;
}
#portfolio-nav a.nav-link:hover{
    color: #1ABC9C;
}
/* HERO */
.avatar-img{
    width: 200px;
    margin: 0 auto;
}